{% extends 'base.html' %}
{% load static %}



{% block content %}
{% if user.is_authenticated %}

<div class="d-flex justify-content-center carousel-item">
    <img class="front-image" style="width: 20%;" src="{% static 'templates/images/santa-claus-gd9e32e908_640.jpg' %}">
    <div class="container">
      <div class="carousel-caption">
        <p class='fs-1 text-dark bg-light text-wrap'>Отлично, Тайный Санта уже готовится к раздаче подарков!</p>
        <p class='fs-3 text-dark bg-primary text-wrap'>{{ joining_url }}</p>
      </div>
    </div>
</div>

{% else %}
<a class="btn btn-danger btn-lg" href="{% url 'login' %}" role="button">Войти</a>
{% endif %}
{% endblock %}