{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
  <div class="row my-4">
    <div class="col">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="card-body">
          <h4>
            {{user.first_name}} {{user.last_name}} #{{user.username}}
          </h4>        
          {% if user.address %}
            <small><cite><i class="bi bi-geo-alt-fill mx-2"></i>{{user.address}}</cite></small><br/>
          {% endif %}
          <p><i class="bi bi-envelope mx-2"></i>{{user.email}}<br/></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row my-2">
        <a class="btn btn-outline-success" href="{% url 'create_game' %}" role="button" style="max-width: 300px;">Создать игру</a>
      </div>
      <div class="row my-2">
        <a class="btn btn-outline-danger" href="{% url 'write_letter_to_santa' user.id %}" role="button" style="max-width: 300px;">Написать письмо Санте</a>
      </div>       
      <div class="row my-2">
        <a class="btn btn-outline-secondary" href="{% url 'user_update' user.id %}" role="button" style="max-width: 300px;">Изменить данные пользователя</a>
      </div>
    </div>
  </div>
</div>

<div class="accordion .accordion-flush" id="user_games">
  {% if games %}
    {% for game in games %}
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading-{{game.id}}">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{game.id}}"   aria-expanded="false" aria-controls="collapse-{{game.id}}">
          {{game.name}}
          {% if game.is_creator %}
            <span class="badge bg-warning mx-2">создатель</span>
          {% endif %}
          {% if game.is_admin %}
            <span class="badge bg-success mx-2">админ</span>
          {% endif %}
          {% if game.is_participant %}
            <span class="badge bg-light text-dark mx-2">участник</span>
          {% endif %}
        </button>
      </h2>
    <div id="collapse-{{game.id}}" class="accordion-collapse collapse" aria-labelledby="heading-{{game.id}}" data-bs-parent=" #user_games">
        <div class="accordion-body">
          {% if game.description %}
            <p>{{game.description}}</p>
          {% endif %}
          <p>Организаторы: {{game.admins}}</p>
          <p>Дата окончания регистрации: {{game.registration_deadline|date:"d.m.Y" }}</p>
          {% if game.is_online %}
            <p>Формат встречи: <strong>онлайн</strong></p>
            <p><strong>Отправить подарок до: {{game.gift_sending_deadline|date:"d.m.Y" }}</strong></p>
          {% else %}
            <p>Место встречи: <strong>{{game.place}}</strong></p>
            <p>Дата и время встречи: <strong>{{game.gift_sending_deadline|date:"d.m.Y"}} в {{game.gift_sending_deadline|time:"H:i"}}</strong></p>
          {% endif %}
          {% if game.is_participant %}
            {% if game.is_shuffled %}
              <div class="row">
                  <p><strong>Получатель подарка: {{game.recipient}}</strong></p>
                  <a class="btn btn-outline-secondary btn-sm" href="{% url 'pair_mailing' game.id user.id %}" role="button" style="max-width: 300px;">Выслать данные получателя на почту </a>
              </div>
            {% else %}
              <p><i>Идет регистрация на игру, получатель подарка еще не выбран</i></p>
            {% endif %}
          {% endif %}
          <br/>
          <div class="row my-2">
            <a class="btn btn-outline-warning" href="{% url 'wishlist' game.id %}" role="button" style="max-width: 300px;">Лист пожеланий</a>
          </div>   
          <p>Участники ({{game.participants_count}} чел.):</p><p>{{game.participants}}</p>
          <p>Стоимость подарка: {{game.gift_cost_limit}}</p>
          <br/>
          {% if game.is_admin %}
            <br/>
            <div class="row" id="game_buttons">
              <div class="col">
                <a class="btn btn-outline-secondary" href="{% url 'update_game' game.id %}" role="button">Изменить данные игры</a>                
              </div>
              <div class="col">
                <a class="btn btn-light float-end mx-4" href="{% url 'toss' game.id %}" role="button">Провести жеребьевку</a>
                <a class="btn btn-light float-end mx-4" href="{% url 'mass_mailing' game.id %}" role="button">Разослать письма</a>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  {% else %}
    <div>
      <p>Не найдено ни одной игры, в которой вы принимаете участия :(</p>
    <div>
  {% endif %}
</div>
{% endblock %}
