{% extends 'base_login.html' %}

{% block title %}Регистрация нового пользователя{% endblock %}

{% block form %}
<h6>Регистрация пользователя</h6>

{{ form.media }}
<form method="post" class="needs-validation" novalidate>
    {% csrf_token %}

  {% for field in form %}
            <div class="col-12">
              {{ field.label_tag }}
              {{ field }}

              {% if field.errors %}
              <div class="invalid-feedback" style="display: inherit;">
              {{ field.errors }}
              </div>
              {% endif %}
            </div>
  {% endfor %}


    <br>
    <button class="w-100 btn btn-lg btn-primary" type="submit" value="Ok">Зарегистрировать</button>
</form>

{% endblock %}

